/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

button {
  cursor: pointer;
  font-style: inherit;
  border: transparent;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --bg-color: #070707;
  --brend-color-1: #ffffff;
  --brend-color-2: #b82121;
  --text-color: #ffffff;
  --caption-color: #ffffff;
  --icons-color: #e5e5e5;
}

/* GLOBALS */
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--text-color);
}

/*! GLOBAL BLOCKS */
.container {
  outline: 1px solid red;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.accent {
  color: var(--brend-color-2);
}

.flexer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.logo {
  fill: var(--brand-color-1);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 229px;
  background-color: var(--brend-color-2);
  border-radius: 5px;
}

.button__link {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.35714;
  color: var(--brend-color-1);
}

.hero {
  margin: 0 auto;
  width: 1440px;
  padding-top: 10px;
  background-image: url("../img/hero-bg.jpg");
  padding-bottom: 176px;
}

.hero__title {
  width: 570px;
  margin-top: 130px;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.27273;
}

.hero__text {
  margin-top: 25px;
  width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 35px;
}

.header {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid tomato;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 60px;
}

.nav__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
}

.address-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-list__link {
  padding: 32px 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.38095;
}

.address-list__icon {
  margin-right: 10px;
  fill: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item + .social__item {
  margin-left: 15px;
}

.social__link {
  padding: 32px 0;
}

.social__icon {
  fill: var(--icons-color);
}
/*# sourceMappingURL=main.css.map */