:root {
  --bg-color: #070707;
  --brend-color-1: #ffffff;
  --brend-color-2: #b82121;
  --text-color: #ffffff;
  --caption-color: #ffffff;
  --icons-color: #e5e5e5;
}
$mob: 480px;
$tab: 768px;
$desc: 1200px;
