.header {
  height: 66px;
  display: flex;
  // background-color: #000;
  outline: 1px solid tomato;
}
.nav {
  display: flex;
  align-items: center;
  margin-left: 120px;
  &__list {
    display: flex;
  }
  &__item + &__item {
    margin-left: 60px;
  }
  &__link {
    padding: 32px 0;
    @include font-base(500, 16, 22);
  }
}
.address-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  &__link {
    padding: 32px 0;
    margin-right: 30px;
    display: flex;
    align-items: center;
    @include font-base(700, 21, 29);
  }
  &__icon {
    margin-right: 10px;
    fill: #fff;
  }
}
.social {
  display: flex;
  align-items: center;
  &__item + &__item {
    margin-left: 15px;
  }
  &__link {
    padding: 32px 0;
  }
  &__icon {
    fill: var(--icons-color);
  }
}
